/* Primero se resetea el CSS del documento y los estilos predefinidos por el navegador */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:active { outline: none; border: none; }
*:focus { outline:0 !important; }
/* Luego comienzan los estilos que le darán color a la página */

body {
background: transparent; color: #383838;
}

body {
  padding: 0px;
  background:#181818 url('../img/background.jpg') no-repeat center top fixed;

}

@supports (background-size: cover) {
  body {
    background: #181818 url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

a { text-decoration: none;}

#sidebarprincipal {
position: fixed; margin: auto; max-width: 1800px;
top: 0; left: 0; right: 0; height: 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#151515+0,1e1e1e+50,1b1b1b+51,292929+100 */
background: #151515; /* Old browsers */
background: -moz-linear-gradient(top, #151515 0%, #1e1e1e 50%, #1b1b1b 51%, #292929 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151515), color-stop(50%,#1e1e1e), color-stop(51%,#1b1b1b), color-stop(100%,#292929)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #151515 0%,#1e1e1e 50%,#1b1b1b 51%,#292929 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #151515 0%,#1e1e1e 50%,#1b1b1b 51%,#292929 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #151515 0%,#1e1e1e 50%,#1b1b1b 51%,#292929 100%); /* IE10+ */
background: linear-gradient(to bottom, #151515 0%,#1e1e1e 50%,#1b1b1b 51%,#292929 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151515', endColorstr='#292929',GradientType=0 ); /* IE6-9 */
    z-index: 100;
}
#central {
position: absolute; margin: auto; top: 50px; bottom: 10px;
    left: 0; right: 0; max-width: 1100px; min-height: 600px;
    background: rgba(0,0,0,0.75); height: 0;
    z-index: 10; border: 1px #181818 solid;
    border-radius: 10px 10px 4px 4px;
}


/* blur */
#centralblur {
position: absolute; margin: auto; top: 50px; bottom: 10px;
    left: 0; right: 0; max-width: 1100px; min-height: 600px;
    background: rgba(0,0,0,0.75); height: 0;
    z-index: 5; border: 1px #181818 solid;
    border-radius: 10px 10px 4px 4px;
    overflow: hidden;
}
#centralblurimg {
position: absolute; top: -20px; bottom: -20px;
    left: -20px; right: -20px; border-radius: 10px 10px 4px 4px;
}
@supports (background-size: cover) {
  #centralblurimg {
    background: #181818 url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      filter: blur(8px);
        -webkit-filter: blur(8px);
  }
}

#central-l1 {
position: absolute; top: 0; left: 0; bottom: 0; width: 200px;
    background: transparent;
}


#central-l1 ul {
    margin: 10px;
    padding: 0;
    width:180px;
    list-style-type: none;
}

#central-l1 ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #282828;
    display:block;
    margin-bottom: 1px;
    font-family: 'Roboto', Arial;
    color: #EFEFEF; font-weight: 300;
    text-shadow: 1px 1px 4px #181818;
}

#central-l1 ul li a:visited {
    color: #EFEFEF;
}

#central-l1 ul li a:hover, #central-l1 ul li .current {
    color: #EFEFEF;
    background-color: #ABABAB;
}

#central-t1 {
position: absolute; top: 0; left: 200px; right: 0; height: 40px;
    background: transparent;
}
#cargando {
position: absolute;top: 0; bottom: 0; right: 20px; margin: auto;
    background: transparent; height: 22px; font-size: 22px; font-family: 'Roboto', Arial;
    color: #EFEFEF; font-weight: 100;
}
#titlebar {
position: absolute;top: 0; bottom: 0; left: 20px; margin: auto;
    background: transparent; height: 22px; font-size: 22px; font-family: 'Roboto', Arial;
    color: #EFEFEF; font-weight: 100;
}
#central-l2 {
position: absolute; top: 40px; left: 200px; bottom: 10px; right: 0;
    border-radius: 10px 0 0 0; font-family: 'Roboto', Arial; color: #CDCDCD;
    font-weight: 300;   background: rgba(180,180,180,0.2);
}
#load-ajax {
position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    padding: 10px; overflow-y: auto; box-sizing: border-box;
}
#social {
background: rgba(80,80,80,0.2);
    border-radius: 25px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
}
#social a:link, #social a:visited {
color: #888;
}
#social a:hover { color: #DFDFDF; }
