html, body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: Arial;
  overflow: auto;
}
* {  margin: 0px;  padding: 0px; overflow: hidden;}
*:active { outline: none; border: none; }
*:focus { outline:0 !important; }
body {
background: #070B26; color: #383838;
}
a { text-decoration: none;}

#principal {
position: fixed;
display: inline-block;
margin: auto;
left: 0; right: 0; 
top: 0; bottom: 0;
width: 85%;
height: 75%;
min-width: 800px;
min-height: 600px;
box-sizing: border-box;
background: #444;
border-radius: 0px;
padding: 5px;
border: 2px #424242 solid;
transform:scale(1.0,1.0);
-webkit-animation: myfirst 800ms;
animation: myfirst 800ms;
box-shadow: 1px 1px 20px #000;
    animation-delay: 300ms;
   -webkit-animation-delay: 300ms;
   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
opacity: 0;
}

@-webkit-keyframes myfirst {
  0% {left: -200% ;transform:scale(0.2,0.2); opacity: 0.2; }
  50% {transform:scale(0.5,0.5); opacity: 0.5; }
  100% {transform:scale(1.0,1.0); opacity: 1.0; background: #E8EAF6;}
  } @keyframes myfirst {
  0% {left: -200% ;transform:scale(0.2,0.2); opacity: 0.2; }
  50% {transform:scale(0.5,0.5); opacity: 0.5; }
  100% {transform:scale(1.0,1.0); opacity: 1.0; background: #E8EAF6;}
}

#menu {
	position: relative;
	top: 0;	left: 0; right: 0; height: 40px; 
	background: #181818;
	color: #CDCDCD;
	margin: -5px;
	box-sizing: border-box;
    padding: 2px;
    margin-bottom: 10px;
}
#menu span {
  font-family: 'Raleway', Arial;
  font-size: 20px;
  position: relative;
  top: 5px;
  left: 5px;
}
#socials {
position: absolute;
top: 0px;
right: 10px;
font-size: 36px;
}
#socials a {
color: #EFEFEF;
margin: -3px;
-moz-transition: all 150ms ease;
-ms-transition: all 150ms ease;
-o-transition: all 150ms ease;
transition: all 150ms ease;

}
#socials a:hover {
color: #FF8844;
}

#menu2 {
	position: absolute; top: 50px; right: 10px; bottom: 10px; width: 180px;
	background: #EFEFEF; border: 1px #CDCDCD solid;
}

#menu2 ul {
    list-style-type: none;
    margin-top: 10px;
    margin: 0;
    padding: 0;
}

#menu2 li a {
    display: block;
    width: 160px;
    background-color: #282828;
    color: #EFEFEF;
   	box-sizing: border-box;
    padding: 15px;
    margin-top: 10px;
    -webkit-transition: all 150ms ease;
-moz-transition: all 150ms ease;
-ms-transition: all 150ms ease;
-o-transition: all 150ms ease;
transition: all 150ms ease;
}
#menu2 li a:hover {
	background-color: #CC2222;
}
.active {
    background-color: #CC2222 !important;
}
#tesla {
	position: absolute; top: 50px; left: 10px; right: 200px; bottom: 10px;
	background: #EFEFEF; border: 1px #CDCDCD solid; overflow: auto;
   	box-sizing: border-box; padding: 10px; text-align: justify;
}
.target {
	margin-bottom: 50px;
}




/* Efecto de nubes, día y sol */
#sky {
			height:100%;
			position: absolute;
			left: 0; right: 0; bottom: 0; margin: auto;
			width: 100%;
			overflow:hidden !important;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
			background: #070b26;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3MGIyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDIyODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #070b26 0%, #002288 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#070b26), color-stop(100%,#002288));
background: -webkit-linear-gradient(top, #070b26 0%,#002288 100%);
background: -o-linear-gradient(top, #070b26 0%,#002288 100%);
background: -ms-linear-gradient(top, #070b26 0%,#002288 100%);
background: linear-gradient(to bottom, #070b26 0%,#002288 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070b26', endColorstr='#002288',GradientType=0 );
		}
.moon {
			background:url("http://montanaflynn.me/lab/css-clouds/images/moon.png");
			background-position: right center;
			position:absolute;
			right: 0; top: 0;
			height:500px;
			width:100%;
			max-width: 1800px;
		background-repeat: no-repeat;
		}
		

		.clouds_one {
			background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_one.png");
			position:absolute;
			background-repeat: repeat-x;
			left:0;
			bottom:0;
			height:500px;
			width:300%;
			-webkit-animation:cloud_one 50s linear infinite;
			-moz-animation:cloud_one 50s linear infinite;
			-o-animation:cloud_one 50s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		.clouds_two {
			background: url("http://montanaflynn.me/lab/css-clouds/images/cloud_two.png");
			position:absolute;
			background-repeat: repeat-x;
			left:0;
			bottom:0px;
			height:500px;
			width:300%;
			-webkit-animation:cloud_two 75s linear infinite;
			-moz-animation:cloud_two 75s linear infinite;
			-o-animation:cloud_two 75s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		.clouds_three {
			background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
			position:absolute;
			background-repeat: repeat-x;
			left:0;
			bottom:0;
			height:500px;
			width:300%;
			-webkit-animation:cloud_three 100s linear infinite;
			-moz-animation:cloud_three 100s linear infinite;
			-o-animation:cloud_three 100s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0)
		}
		
		
		@-webkit-keyframes cloud_one {
			0% {left:0}
			100% {left:-200%}
		}
		@-webkit-keyframes cloud_two {
			0% {left:0}
			100% {left:-200%}
		}
		@-webkit-keyframes cloud_three {
			0% {left:0}
			100% {left:-200%}
		}
		@-moz-keyframes cloud_one {
			0% {left:0}
			100% {left:-200%}
		}
		@-moz-keyframes cloud_two {
			0% {left:0}
			100% {left:-200%}
		}
		@-moz-keyframes cloud_three {
			0% {left:0}
			100% {left:-200%}
		}
