/* Primero se resetea el CSS del documento y los estilos predefinidos por el navegador */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*:active { outline: none; border: none; }
*:focus { outline:0 !important; }
/* Luego comienzan los estilos que le darán color a la página */

body {
background: transparent; color: #383838;
}
a { text-decoration: none;}

#sidebarprincipal {
position: fixed; margin: auto; max-width: 1800px;
top: 0; left: 0; right: 0; height: 40px;
    background: #484848;
    z-index: 100;
}
#central {
position: absolute; margin: auto; top: 50px; bottom: 10px;
    left: 0; right: 0; max-width: 1100px; min-height: 600px;
    background: #282828; height: 0;
    z-index: 10; border: 1px #181818 solid;
}
#central-l1 {
position: absolute; top: 0; left: 0; bottom: 0; width: 200px;
    background: #282828;
}
#central-t1 {
position: absolute; top: 0; left: 200px; right: 0; height: 40px;
    background: #282828;
}
#central-l2 {
position: absolute; top: 40px; left: 200px; bottom: 10px; right: 0;
    background: #EFEFEF; border-radius: 10px 0 0 0;
}
